.recp-item{
    border: 1px solid #a99f9f;
    padding: 3px;
    overflow: hidden;
    margin-bottom: 10px;
}
img{
    transition: all .3s;
    cursor: pointer;
    margin-bottom: 5px;
}
.recp-item:hover img{

    transform: scale(1.1);
}
.custom{
   
    white-space: nowrap;
}

ul li{
    font-size: 20px;
    cursor: pointer;
}